

<section>
  <h4>Address Book App</h4>
  <input type="text" (change)="filterAddressEntries($event.target.value)">
</section>
<mat-table class="mat-table" [dataSource]="addressEntries$" matSort>

  <!-- [] Definition -->
  <ng-container matColumnDef="select">
    <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header (click)="sortAddressEntriesById()">[]</mat-header-cell>
    <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.select}} </mat-cell>
  </ng-container>
  
  <!-- Id Definition -->
  <ng-container matColumnDef="id">
    <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header (click)="sortAddressEntriesById()">Id</mat-header-cell>
    <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.id}} </mat-cell>
  </ng-container>

  <!-- Name Definition -->
  <ng-container matColumnDef="name">
    <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell class="mat-cell" *matCellDef="let elem">
				<mat-form-field>
					<input matInput placeholder="Name" [value]="elem.name" [ngModel]="elem.name" (change)="setCellValue(element)">
				</mat-form-field>
			</mat-cell>
  </ng-container>

  <!-- Location Definition -->
  <ng-container matColumnDef="location">
    <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
    <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.location}} </mat-cell>
  </ng-container>

  <!-- Office Definition -->
  <ng-container matColumnDef="office">
    <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Office </mat-header-cell>
    <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.office}} </mat-cell>
  </ng-container>

  <!-- Phone Entry Definition -->
  <ng-container matColumnDef="phone">
      <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Cell </mat-header-cell>
      <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.phone.office}} </mat-cell>
      <!-- <mat-cell class="mat-cell" *matCellDef="let elem">
        <ng-container matColumnDef="prem">
          <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Office </mat-header-cell>
          <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.phone.office}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cell">
          <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Cellular </mat-header-cell>
          <mat-cell class="mat-cell" *matCellDef="let elem"> {{elem.phone.Cellular}} </mat-cell>
        </ng-container>
      </mat-cell> -->
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['select', 'id', 'name', 'location', 'office', 'phone']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['select', 'id', 'name', 'location', 'office', 'phone']"></mat-row>
</mat-table>
<button class="mat-button" (click)="addRow()">Add Entry</button>